extends layout
block content
    div.mainContainer
        each collection in allCollections
                div.contentMain
                    div.content1
                        h3 #{collection.User.username}'s #{collection.name} collection
                    div.content2
                        a(href=`/collections/${collection.id}`).nav-link-active View collection
                