extends layout
block content
    h1 Edit Review
    form(action=`/reviews/${reviewId}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label(for="title") Title:
            input(type="text" name="title" value= review.title size="55" required)
        div
            label(for="rating") Rating:
            input(type="number" name="rating" value= review.rating min="1" max="5" required)
        div

            textarea(name="content" value= review.content rows="12" cols="50" required)
        div.buttonContainer
            button(type="submit").nav-link-active Edit Review
            a(href=`/games/${review.gameId}`).nav-link-active Cancel
