doctype html
html
  head
      block head
        title="Game Tracker"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/images.css')
        link(rel='stylesheet' href='/stylesheets/specific-game.css')
        link(rel="stylesheet", href="/stylesheets/navigation.css")
        link(rel="stylesheet", href="/stylesheets/headers.css")
        link(rel="stylesheet", href="/stylesheets/containers.css")
        link(rel="stylesheet", href="/stylesheets/content.css")
        <meta name="title" property="og:title" content="Game Tracker">
        <meta property="og:type" content="website">
        <meta name="image" property="og:image" content="https://i.imgur.com/VoPTBa5.png">
        <meta name="description" property="og:description" content="Come organize your gaming list">
        <meta name="author" content="Eric Quan, Anthony Seefried, Johnny Park, Huan Ai">
  body
    nav.nav
      a(href="/").nav-link-active
        img(src="/stylesheets/logo.jpg", alt="Home").imgLogo
      a(class='nav-link-active' href="/collections") Find Collection
      a(class='nav-link-active' href='/games') Find Game
      if locals.authenticated
        a(class='nav-link-active' href="/users/logout") Log out
        a(class='nav-link-active' href=`/users/${user.id}`)= user.username
      else
        a(class='nav-link-active' href="/users/login") Log In
        a(class='nav-link-active' href="/users/register") Register
        a(class='nav-link-active' href="/users/login/demo") Demo User
      a(href="https://github.com/gobugi/gametracker" target="_blank").nav-link-active GitHub Source

    block content
