extends layout

block content
    div.mainContainer
        each collection in collections
                div.contentMain
                    div.content1
                        h3 #{collection.name}
                    div.content2
                        a(href=`/collections/${collection.id}`).nav-link-active View collection
