.contentMain{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
  }
  
  .content1{
    display:flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }
  
  .gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .contentMain{
    width: 500px;
    margin:30px auto;
    padding: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .gameDescription{
      width:300px;
      height: 181px;
      overflow: scroll;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 15px;

  }

  .contentReview{
    border-radius: 12px;
      width: 75%;
      margin: 45px auto;
      padding: 2.5em;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .content2{
      display:flex;
      justify-content: center;
      align-items: center;
  }
